<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.donggyun.PomoBuddy.refresh</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Quicksand.ttf</string>
		<string>Paperlogy-Black.ttf</string>
		<string>Paperlogy-Bold.ttf</string>
		<string>Paperlogy-ExtraBold.ttf</string>
		<string>Paperlogy-ExtraLight.ttf</string>
		<string>Paperlogy-Light.ttf</string>
		<string>Paperlogy-Medium.ttf</string>
		<string>Paperlogy-Regular.ttf</string>
		<string>Paperlogy-SemiBold.ttf</string>
		<string>Paperlogy-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
